<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chinews.xdapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.志報新聞社"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".OldNews"></activity>
        <activity android:name=".NewsInfo" />
        <activity android:name=".LastNews" />
        <activity android:name=".Help" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chart" />
        <activity android:name=".Warnsum" />
        <activity android:name=".VipRecyclerViewInfo" />
        <activity android:name=".Weather" />
        <activity android:name=".VipRecyclerView" />
        <activity android:name=".Login" />
        <activity android:name=".VipArea" />
        <activity android:name=".GoodLogin" />
        <activity android:name=".CheckJson" />
        <activity android:name=".Web" />
        <activity
            android:name=".Todaynews"
            android:label="@string/n"
            android:logo="@drawable/bar_backicon" />
        <activity
            android:name=".News"
            android:label="@string/i"
            android:logo="@drawable/bar_backicon" />
        <activity
            android:name=".BuyVip"
            android:label="@string/p"
            android:logo="@drawable/bar_backicon" />
        <activity
            android:name=".Home"
            android:label="@string/r"
            android:logo="@drawable/bar_backicon" />
        <activity
            android:name=".MainActivity"
            android:logo="@drawable/bar_backicon" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <service
            android:name=".MessageNotification"
            android:process=":MessageNotification" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>